@import "tailwindcss";

.debug-outlines [data-paged-react-page] {
  outline: 1px dashed #60a5fa;
}

.debug-outlines [data-paged-react-page-body] {
  outline: 1px dashed #1d4ed8;
}

.debug-outlines [data-paged-react-page-header],
.debug-outlines [data-paged-react-page-footer] {
  outline: 1px dashed #94a3b8;
}
